/* main fieldset css*/
.title{
    width:100%;
    margin-top: 50px;
    font-family: 'Games', sans-serif;
    border-bottom: 20px solid #3B4CCA;
    border-radius: 32px;
}
/*CSS for main fieldset input, buttons, scoreboard*/
#wrapper-body{
    width: 100%;
    margin-top: 20px;
    margin-left: 15px;
}

.wrapper-input{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
}
input{
    border-radius: 5px;
    border: 2px solid #3B4CCA;
    text-align: center;
    width: 50%;
    margin-left: 5px;
    font-size: 15px;
}

#enter-btn{
    width: 64px;
    background-color: white;
    height: 27px;
    align-items: center;
    margin-top: 4px;
    border-radius: 15px;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border: 2px dotted black;
}

#enter-btn:hover{
    color: #cc0000;
}
/*pokeball css*/
#enter-btn i:hover{
    color: #cc0000;
}

#wrapper-random-poke{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.randButton{
    width: 138px;
    height: 32px;
    background: #3B4CCA;
    color: white;
    border-radius: 5px;
}
/*"play" "Store" positioning css*/
#wrapper-btns{
    float: left;
    width: 40%;
    margin-right: 15px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

/*"play" "Store" css*/
.main-btn{
    text-align: center;
    height: 51px;
    width: 164px;
    border:2px solid black;
    font-family: 'Games', sans-serif;
    font-size: 30px;
    line-height: 2;
    text-decoration-line: none;
    color:black;
}

.main-btn:hover{
    transition-timing-function: linear;
    background: linear-gradient(0deg, #cc0000 52%, rgba(249,247,248,0.3923766816143498) 53%, white 100%)
}
/* Score board css*/
#wrapper-score{
    float: right;
    width: 40%;
    margin-right: 15px;
    margin-top: 20px;
    padding: 10px;

}
.score-title{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-bottom:2px solid #3B4CCA;
}

#score-display{
    width:100%;
}


/*CSS for the game fieldset*/
/*Top buttons CSS*/
#wrapper-top-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 15px solid #cc0000;
    border-radius: 14px;
}

.top-btn{
    text-align: center;
    height: 51px;
    width: 164px;
    border:2px solid black;
    font-family: 'Summer Pixel 22', sans-serif; 
    font-size: 30px;
    line-height: 2;
    text-decoration-line: none;
    color:black;
}

.top-btn:hover{
    text-decoration-line: none;
    color:black;
    transition-timing-function: linear;
    background: linear-gradient(0deg, #cc0000 52%, rgba(249,247,248,0.3923766816143498) 53%, white 100%)
}

.wrapper-name-info, .wrapper-hp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 14px;
    font-family: 'Summer Pixel 22', sans-serif; 
    margin: 10px;  
    font-size: 30px; 
}

#enemyPosition{
    width: 550px;
    height: 348px;
    background-color: #FAAA6D;
    border-radius: 15px;
    position: fixed;
    right: 119px;
    box-shadow: 2px 4px 8px 6px;
}
#payerPosition{
    width: 550px;
    height: 348px;
    background-color: #419EAE;
    border-radius: 15px;
    position: fixed;
    top: 296px;
    left: 60px;
    box-shadow: 2px 4px 8px 6px;
}


.wwyd-placement{
    position: fixed;
    top: 657px;
    left: 63px;
    
}

.wrapper-button{
    position: fixed;
    top: 662px;
    left: 434px;

}

#hit,#block,#run{
    height: 51px;
    width: 164px;
    border:2px solid black;
    font-family: 'Summer Pixel 22', sans-serif;
    font-size: 30px;
    border-radius: 15px;
    text-align: center;
    line-height: 2;
}

#hit:hover, #block:hover ,#run:hover{
    box-shadow: 2px 4px 8px 6px #cc0000;
    border:2px solid #cc0000;
}

/* CSS for store */ 
#wrapper-player-info{
    width:100%;
    display: flex;
    justify-content: center;
}


.wrapper-poke{
    display: flex;
    justify-content: center;
}

.card{
    width: 190px;
    height:260px;
    background:#3B4CCA;
    margin:15px;
    color:white;
}

/* timer */
.timerDisplay{
    position: relative;
    width: 92%;
    left: 15%;
    top: -210px;
    font-family: 'Roboto mono',monospace;
    color: #419EAE;
    font-size: 30px;
}
/* timer */